.blog-date {
  color: #abb1c1;
}

.blog-text {
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  color: #626979;
}

.read-blog-btn {
  width: 150px;
  background-color: #e7e7e7;
  color: #14213d;
  padding-top: 8px;
  padding-bottom: 8px;
}

.read-blog-btn:hover {
  color: #e7e7e7;
  background-color: #14213d;
}
