.normal-text {
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  color: #626979;
}

.contact-text {
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  color: #626979;
  text-decoration: none;
}
